<div class="container">
  <div class="linea"></div>

  <div class="text-light mt-5">
    <h2>Where to Find us:</h2>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-5">
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0 dimensioni-inner-card">
        <div class="col-md-4">
          <img
            src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg"
            class="img-fluid rounded-start immagine-find"
            alt="pop corn movie party entertainement in un sacchetto"
          />
        </div>
        <div class="col-md-8">
          <div
            class="card-body text-light d-flex flex-column justify-content-center h-100"
          >
            <h5 class="card-title">Via dalle palle 69</h5>
            <h5 class="card-title">328 987675</h5>
            <h5 class="card-title">cinema@gmail.com</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
