img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picsum-img-wrapper{
  width: 465px;
  height: 689px;
}

.card{
  max-width: 800px !important;
  min-height: 300px !important;
  background-color: #613794;
  border-radius: 20px;
}

.immagine-find{
  object-fit: cover !important;
  height: 100% !important;
  border-radius: 20px;
  border-radius:20px 0px 0px  20px !important;
}

ngb-carousel{
  margin: auto !important;
}
